@font-face {
    font-family: "LexendDeca-Bold";
    src: url("../Assets/font/static/LexendDeca-Bold.ttf");
}
@font-face {
    font-family: "LexendDeca-Regular";
    src: url("../Assets/font/static/LexendDeca-Regular.ttf");
}